extends layout

block style
  style.
    p.logo {
      font-size: 2.5rem;
      color: #777777;
      position: relative;
      top: -0.5em;
    }
    
    .card-panel {
      box-shadow: rgba(0, 0, 0, 0.1) 0 5px 40px, rgba(0, 0, 0, 0.1) 0 5px 10px;
      border-bottom: 10px solid transparent;
      transition: box-shadow 0.25s;
      padding: 20px;
      margin: 0.5rem 0 1rem;
      border-radius: 2px;
      background-color: #fff;
    }
    
    /* Font Awesome Icons */
    .form-group a i {
      font-family: FontAwesome;
      margin: 0 auto;
      font-size: 5rem;
      font-style: normal;
    }
    
    .min-container .card-panel form .fa {
      top: 13px;
      right: 1rem;
    }
    
    /* Media Queries */
    @media (min-width: 768px) {
      .min-container {
        max-width: 650px;
      }
    }
    
    .min-container {
      margin: 0 auto;
    }
      
                     
block content

  +log(app.config)
  +log(app.path)

  if !userauth
    .min-container.py-md-2
      .card-panel.p-sm-5.position-relative
        .text-center
          img.img-fluid.w-50(src='img/cologo.png' alt='Logo')
          h1.h2.mt-5=`${title} Login`
        form#loginForm.mt-5(autocomplete='on')
          p.small.mb-2.text-scarlet
         
          .input-group.mb-3
            .input-group-prepend
              span#basic-addon1.input-group-text
                i.fas.fa-user
            input#username.input.form-control(autocomplete='password' name='username' type='text' value='' placeholder='Username' aria-label='Username' aria-describedby='basic-addon1')
          
          label.pull-left.sr-only(for='password') Password
          .position-relative
            .input-group
              span#basic-addon1.input-group-text
                i.fas.fa-lock
              input#password.input.form-control(autocomplete='password' name='password' type='password' value='' placeholder='Password' required='true' aria-label='password' aria-describedby='basic-addon1')
              .input-group-append
                span.input-group-text(onclick='password_show_hide();')
                  i#show_eye.fas.fa-eye
                  i#hide_eye.fas.fa-eye-slash.d-none
            br
            
            //-
              .form-group.form-check.text-center
                input#remember_me.form-check-input(type='checkbox' name='remember')
                label.form-check-label(for='remember_me') Remember me
          
          .text-center.my-4
            input.btn.btn-primary.text-white.btn-lg.text-uppercase(type='submit' value='Login')

  else
    .d-flex.justify-content-md-center.align-items-center.vh-100
      div.text-center
        img.img-fluid.w-100(src='img/cologo.png' alt='Logo')
        div
          br
          p.font-weight-light.logo=title
        
block script
  script.
    $('#loginForm').on('submit',function(e){
      e.preventDefault();
      const data = {};
      $(this).serializeArray().map(function(item){
        data[item.name] = item.value || '';  
      })
      bs.ajaxGet('/login',data,function(res){
        var lp = getCookie('lastPage') || '/';
        if(res=='success') location.href = lp;  
      }) 
    })


    function password_show_hide() {
      var x = document.getElementById("password");
      var show_eye = document.getElementById("show_eye");
      var hide_eye = document.getElementById("hide_eye");
      hide_eye.classList.remove("d-none");
      if (x.type === "password") {
        x.type = "text";
        show_eye.style.display = "none";
        hide_eye.style.display = "block";
      } else {
        x.type = "password";
        show_eye.style.display = "block";
        hide_eye.style.display = "none";
      }
    }
        